<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<!--<ion-card padding class="background"></ion-card>-->
<ion-content class="background">
    <img expand="full" src="../assets/icon/logo.png"/>
  <ion-card color="light">
    <ion-card-content>
      <ion-input color="dark">username :</ion-input>
      <ion-input color="dark" type="password">password :</ion-input>
      <ion-button routerLink="/menu/first"> Login </ion-button>
      <ion-button>Forgotten password?</ion-button><!--A revoir-->
    </ion-card-content>
  </ion-card>
</ion-content>