  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <ion-buttons slot="end">
        <ion-button routerLink="/menu/menu2">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <ion-title color="dark">AIRBUS</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="background">
    <ion-searchbar color="dark" showCancelButton cancelButtonText="Custom Cancel" placeholder="SEARCH JOBCARD"></ion-searchbar>
  
    
   <ion-label color="dark">
      <ion-icon name="calendar"></ion-icon>
    {{currentDate}}
   </ion-label>
       
    
  
   <div class="ion-padding">
      
      
  <ion-card class="background">
      <ion-card-header>
          <ion-card-title color="dark"><ion-item-divider color="dark">
              <ion-label>
                  24 Job Card(s)
              </ion-label>
            </ion-item-divider>
          </ion-card-title>
        </ion-card-header>
    <ion-card-content>
        <ion-list>
       <ion-card class="background">
         <ion-card-header>
         <ion-card-subtitle color="dark"><ion-icon name="clipboard"></ion-icon>
           SN3845/CRO/COMP/19/05/011 | 1 | 3 Task(s)
         </ion-card-subtitle>
          <ion-badge color="success">1</ion-badge>
          <ion-badge color="warning">1</ion-badge>
          <ion-badge color="danger">1</ion-badge>
          <ion-progress-bar color="secondary" value="0.33"></ion-progress-bar>
         <ion-card-title color="dark">INSPECTION AND CHECK</ion-card-title>
         
      
        </ion-card-header>
        <ion-item-sliding>
          <ion-item>
  
            <ion-button color="dark" size = "small" routerLink="/menu/supfind">Findings
                <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button> 

          </ion-item>
        </ion-item-sliding>
      </ion-card>

      <ion-card class="background">
          <ion-card-header>
          <ion-card-subtitle color="dark"><ion-icon name="clipboard"></ion-icon>
            SN3845/CRO/COMP/19/05/011 | 1 | 3 Task(s)
          </ion-card-subtitle>
           <ion-badge color="success">1</ion-badge>
           <ion-badge color="warning">1</ion-badge>
           <ion-badge color="danger">1</ion-badge>
           <ion-progress-bar color="secondary" value="0.33"></ion-progress-bar>
          <ion-card-title >CLEANING</ion-card-title>
          
       
         </ion-card-header>
         <ion-item-sliding>
           <ion-item>
   
             <ion-button color="dark" size = "small" routerLink="/menu/supfind">Findings
                 <ion-icon slot="icon-only" name="document"></ion-icon>
             </ion-button> 
 
           </ion-item>
         </ion-item-sliding>
       </ion-card>

       <ion-card class="background">
          <ion-card-header>
          <ion-card-subtitle color="dark" ><ion-icon name="clipboard"></ion-icon>
            SN3845/CRO/COMP/19/05/011 | 1 | 3 Task(s)
          </ion-card-subtitle>
           <ion-badge color="success">1</ion-badge>
           <ion-badge color="warning">1</ion-badge>
           <ion-badge color="danger">1</ion-badge>
           <ion-progress-bar color="secondary" value="0.33"></ion-progress-bar>
          <ion-card-title >Cleaning</ion-card-title>
          
       
         </ion-card-header>
         <ion-item-sliding>
           <ion-item>
   
             <ion-button color="dark" size = "small" routerLink="/menu/supfind">Findings
                 <ion-icon slot="icon-only" name="document"></ion-icon>
             </ion-button> 
 
           </ion-item>
         </ion-item-sliding>
       </ion-card>
      
      </ion-list>
    </ion-card-content>
    </ion-card>

  
    </div>
  
  </ion-content> 